.chat-main{
  height: 100vh;
  width: calc(100% - 300px);
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    border: #eeeeee;
    .group-info{
      display: flex;
      justify-content: space-between;
      &__group{
        margin-left: 40px;
        &-name{
          color: #333333;
          font-size: 20px;
          margin: 35px 0px 15px 0px;
        }
        &-menber{
          color: #999999;
          font-size: 12px;
        }
      }
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        margin: 28px 40px 0px 0px;
        border: solid 1px;
        border-color: #38ae38;
        .edit{
          color: #38ae38;
          font-size: 16px;
          padding: 0px 20px;
          text-decoration: none;
        }
      }
    }
  }

  &__message-lists{
    background-color: #fafafa;
    height: calc(100vh - (100px + 90px));
    .message-list{
      margin-left: 40px;
      padding-top: 35px;
      &__info{
        display: flex;
        margin-bottom: 12px;
        &-name{
          color: #333333;
          font-size: 16px;
        }
        &-data{
          color: #999999;
          margin-left: 5px;
          font-size: 12px;
        }
      }
      &__text{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 46px;
      }
      &__text-box{
        font-size: 5px;
      }
    }
  }

  &__from{
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;
    .message-from{
      width: 100%;
      height: 50px;
      display: flex;
      margin-left: 40px;
      padding: 15px 40px 0px 10px;
      background-color: #ffffff;
      position: relative;
      &__input{
        margin-left: 10px;
        color: #d2d2d2;
      }
      &__ikon{
        position: absolute;
        top: 15px;
        right: 10px;
        .photo{
          display: none;
        }
      }
    }
    .message-btn{
      height: 50px;
      width: 100px;
      margin: 0px 40px 0px 15px;
      padding: 15px;
      background-color: #38aef0;
      color: #ffffff;
    }
  }
}
